@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
img{
    width: 1051px;
    height: 762px;
    padding-bottom: 34px;
}
.section1{
    border: 2px solid black;
    margin:  40px;
    padding: 45px;
}
p,a,ol{
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    
}
h2, h1{
    font-size:50px;
    font-style: normal;
    font-weight: bolder;
    margin-bottom: 50px; 
    text-decoration:underline;

}
h2{
    margin-top: 77px;
}
.sec1_2{
    margin-left: 58px;
}
ol{
    margin-left: 58px;
    margin-bottom: 94px;
}   
a{
    color: black;

}
p{
    padding-bottom: 50px;
  
}